[submodule "checkerlib"]
	path = checkerlib
	url = git@bitbucket.org:sampa/checkerlib.git
[submodule "clang"]
	path = clang
	url = git://github.com/uwsampa/accept-clang.git
[submodule "mspsim"]
	path = mspsim
	url = git://github.com/ransford/mspsim.git
[submodule "plat/msp430/mspdebug-wrapper"]
	path = plat/msp430/mspdebug-wrapper
	url = git@github.com:ransford/mspdebug-wrapper.git
