[submodule "clang"]
	path = clang
	url = https://github.com/uwsampa/accept-clang.git
[submodule "nntune"]
	path = nntune
	url = https://github.com/uwsampa/nntune.git
	branch = snnap
[submodule "fann-snnap"]
	path = fann-snnap
	url = https://github.com/tmoreau89/fann-snnap.git
